<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1px solid">
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Nascita</th>
            <th>Sesso</th>
        </tr>
        {% for utente in utenti %}
            <tr>
                <td>{{ utente[0] }}</td>
                <td>{{ utente[1] }}</td>
                <td>{{ utente[2] }}</td>
                <td>{{ utente[3] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>