<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <p style="color: rgb(255, 124, 80);">Oggi {{ data }}</p>
    <h1>Form ordini bar</h1>
    <form action="/inserimento" method="post">
        classe: <input name="classe" type="text"> <br>
        piano: <input name="piano" type="number" min="1" max="4"> <br>

        seleziona prodotto: <br>
        
        <select name="prod">
            <option value="panino_cot">Panino cotoletta</option>
            <option value="focaccia">Focaccia</option>
            <option value="pizza">Pizza</option>
            <option value="ac_f">Acqua frizzante</option>
            <option value="ac_n">Acqua naturale</option>
        </select>

        <input type="submit"> <br>
    </form>
</body>
</html>