<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/visualizza_ordini">
        <select name="sort">
            <option value="classe">Classe</option>
            <option value="piano">Piano</option>
            <option value="articolo">Articolo</option>
        </select>
        <input type="submit" value="Ordina"/>
    </form>
    <table border="1px solid">
        <tr>
            <th>Classe</th>
            <th>Piano</th>
            <th>Prodotto</th>
        </tr>
        {% for ordine in ordini %}
            <tr>
                <td>{{ ordine[0] }}</td>
                <td>{{ ordine[1] }}</td>
                <td>{{ ordine[2] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>